
/* Menu Font */
.main-menu .the-menu li a,
.secondary-menu ul li a {
	font-family:"Titillium Web", sans-serif;
}

/* Block Titles */
.list-title {
	font-family:"Titillium Web", sans-serif;
}

/* Article Titles */
h1, h2, h3,
h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
}

